.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  padding: 10%;
}

.card {
  word-wrap: break-word;
}

.repo-name {
  text-align: center;
  font-weight: bold;
}