.dashboard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 20px;
}

.repo-stat {
  margin: 0 20px;
  min-width: 250px;
  max-width: 300px;
}


.timestamp {
  height: 30px;
  color: slategray;
}
