<section>
  <div class="dashboard" fxLayout="column">
    <div fxFlexAlign="center"><h1>Dashboard</h1></div>
  
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-org-stat class="stats" fxFlex="3 0 40"
        *ngFor="let stat of stats; let i = index" [stat]="stat" [repo]="repos[i]">
      </app-org-stat>
    </div>
  
    <div class="timestamp" 
      fxFlex fxLayout="row" 
      fxLayoutAlign="end center"
      fxFlexOffset="20px">
      <div>last updated: 2022-06-06T11:40:20-05:00</div>
    </div>
  </div>
</section>
