<div class="browse-all" >

  <div fxLayout="row" fxLayoutAlign="space-between">
    <h2>Browse All Repositories</h2>
    <select>
      <option value=""> -- Sort By -- </option>
      <option *ngFor="let option of sort_options; let i = index" value={{i}}>{{option}}</option> 
    </select>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <app-repo-preview class="repo-preview" fxFlex="3 0 0" *ngFor="let repo of repos" [repo]="repo">
    </app-repo-preview>
  </div>
</div>


