<section>
  <div class="search-header" fxLayout="column" fxLayoutAlign="center stretch">
    <h1 fxFlexAlign="center">Search</h1>

    <form #input="ngForm" (ngSubmit)="search(input)" fxLayoutAlign="center center" >
      <div fxFlex="75" >
        <input [(ngModel)]="term" name="search-bar" placeholder="Enter repository name..." fxFlex />
      </div>
      <button type="submit"  >
        <span class="material-symbols-outlined">search</span>
      </button>
    </form>
  </div>

  <div *ngIf="results" class="search-results" fxLayout="column" fxLayoutAlign="center center" >
    <h2 fxFlexAlign="start">{{resultString}}</h2>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
      <app-repo-preview class="repo-preview" fxFlex="3 0 0" *ngFor="let repo of results" [repo]="repo">
      </app-repo-preview>
    </div>
  </div>

</section>
